@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

svg{
    display: inline-flex;
}

.main-nav li,
.main-nav svg,
.middle-side-main-nav li{
    cursor: pointer;
}
