@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

svg{
    display: inline-flex;
}

.main-navbar li,
.main-navbar svg{
    cursor: pointer;
}

.bg-image {
    /* background-image: url('../img/pexels-19x14-8478248.jpg'); */
    background-image: url('./img/pexels-19x14-8478248.jpg');
    background-color: aqua;
}